*.a
*.o
*depend.mf
*.sqlite3
/.rake-builder*
/active_record_*_test
/autom4te.cache/
/.bundle/
/config.h
/config.log
/config.status
/.deps/
/Gemfile.lock
/Makefile
/objects_*
/stamp-h1
/test/objects/
/vendor/
